@import 'home-payment';
@import 'home-social';
@import 'home-newsletter';
@import 'content-slider';

.content-main {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & > section {
    & > header {
      text-align: center;
      margin-bottom: 20px;

      h1 {
        color: #707070;

        & > span {
          font-weight: 300;
        }

        @include media-breakpoint-up('lg') {
          font-weight: 500;
          color: $gray-secondary;
          font-size: 42px;
        }
      }
    }
  }
}
