.footer-primary {
  background-color: $brand-secondary;

  &-inner {
    display: grid;
    row-gap: 20px;

    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up('lg') {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    grid-area: nav;

    @include media-breakpoint-up('lg') {
      column-gap: 9%;
      flex-wrap: nowrap;
    }

    ul {
      flex-basis: 50%;

      @include media-breakpoint-up('lg') {
        flex-basis: auto;
      }
    }
  }

  .footer-contact {
    grid-area: contact;

    @include media-breakpoint-up('lg') {
      align-self: end;
    }
    p {
      margin-bottom: 0;
    }
    a {
      display: block;
    }
  }

  .footer-support {
    justify-self: center;
    gap: 10px;
    grid-area: support;

    ul {
      display: flex;
      gap: 20px;
    }

    @include media-breakpoint-up('lg') {
      justify-self: start;
      align-self: end;
    }
  }
}
